
form{
    margin-top:20px;
}
.showAns{
    margin: 50px 0;
}
.green{
    color: green
}
.red{
    color:red;
}
.showWord{
    color:#ff5722;
    display: block;
    font-weight: bolder;
    font-size: 25px;
}
.co{
    margin: 25px auto;
}
.DisplayFeedback{
    
}
