.correct_count {
    color: rgb(5, 123, 5);
    font-size: 14px;
}

.incorrect_count {
    color: rgb(197, 22, 22);
    font-size: 14px;
}
li{
    margin: 25px auto;
    padding: 15px ;
    background-color: #F9E6E6;
}
.count,li span{
    display: inline-block;
    background-color: #F9E6E6;
}

.word{
    font-size: 20px;
    background-color: #F9E6E6;
}
.original{
   margin-top: 0;
   margin-bottom: 0;
   padding: 0 5px;
   display: inline-block;
   font-weight:bold;
}
.translation{
    padding: 0 5px;  
}


@media screen and (min-width: 481px){  
    
    li{
        max-width: 650px;
        margin-left: auto;
        margin-right: auto;
        padding: 15px 15px 60px 15px;   
    }
    .count,li span{
        display: inline-block;    
    }
    .count{
        float: right;  
        font-size: 16px;
    }
    .word{
        float:left;
        font-size: 25px;
    }
    
}