button{
    display: block;
    margin: 12px auto;
    padding: 5px 8px;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Russo One', sans-serif;
    border: 2px solid #5fcc9c; 
}


  @media screen and (min-width: 481px){
    button:hover {
        background-color: #5fcc9c; 
        color: #474744;
      } 
  }