*{
    
    box-sizing: border-box;
}
body{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #474744;
    background-color: #f4f4f4;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main{
    text-align: center;
    
}
h2{
    color: #D13400;
    font-family: 'Russo One', sans-serif;
    font-size: 22px;
    padding:0 8px;
}

@media screen and (min-width: 481px){
   body{
    text-align: left;
   }
   h2{
    color: #D13400;
    font-family: 'Russo One', sans-serif;
    font-size: 30px;
}

   
 }
  
 
