
@media screen and (min-width: 481px){
  .background{
    background-image: url('/image/chinese.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height:150px;
  }
  .background h2{
      margin-top: 0;
      padding-top: 50px;
      text-shadow: 2px 2px 5px black;
  }
}
